* {
  font-family: sans-serif;
  list-style: none;
  padding: 0;
}
body {
  background: #333;
}

h3 {
  color: #333;
}

button {
  text-decoration: none;
  color: white;
  border-style: hidden;
  background: #333;
  text-decoration-line: none;
  margin-top: 400px;
  margin-left: 1000px;
}

.circle {
  width: 100px;
  padding: 50px 0;
  line-height: 0;
  margin: 60px auto;
  background: pink;
  color: white;
  border-radius: 50px;
  cursor: pointer;
  transition:  1s transform 1s 1s ease;
}

.circle:hover {
  background: salamon;
  transform: rotate(360deg);
}

/*// --- ANIMATION --- //*/

.progressbar {
  width: 250px;
  margin: 200px auto;
  color: white;
}
.progressbar li {
  margin-left: 20px;
}

/*// --- BAR BARSPAN SENKRECHT --- //*/

.bar1 {
  background: #333;
  display: block;
  height: 2px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 0 10px #333;
  transform: rotate(90deg) translateY(113px);
}
.bar1 span {
  height: 2px;
  float: left;
  background: red;
}

.bar2 {
  background: #333;
  display: block;
  height: 2px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 0 10px #333;
  transform: rotate(90deg) translateY(-113px) translateX(-78px);
}
.bar2 span {
  height: 2px;
  float: left;
  background: red;
}

.bar3 {
  background: #333;
  display: block;
  height: 2px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 0 10px #333;
  transform: rotate(90deg) translateY(-339px) translateX(70px);
}
.bar3 span {
  height: 2px;
  float: left;
  background: red;
}

.bar4 {
  background: #333;
  display: block;
  height: 2px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 0 10px #333;
  transform: rotate(90deg) translateY(-114px) translateX(220px);
}
.bar4 span {
  height: 2px;
  float: left;
  background: red;
}

.bar5 {
  background: #333;
  display: block;
  height: 2px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 0 10px #333;
  transform: rotate(90deg) translateY(113px) translateX(143px);
}
.bar5 span {
  height: 2px;
  float: left;
  background: red;
}

.bar6 {
  background: #333;
  display: block;
  height: 2px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 0 10px #333;
  transform: rotate(90deg) translateY(340px) translateX(-163px);
}
.bar6 span {
  height: 2px;
  float: left;
  background: red;
}

/*// --- SENKRECHTE PROGRESSBAR UND KEYFRAMES BAR ANIMATION ---//*/

.senkl1 {
  width: 100%;
  animation: senkl1 2s;
}
@keyframes senkl1 {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.senkr1 {
  width: 100%;
  animation: senkr2 2s;
}
@keyframes senkr1 {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.senkra1 {
  width: 100%;
  animation: senkra1 2s;
}
@keyframes senkra1 {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.senkr2 {
  width: 100%;
  animation: senkr1 2s;
}
@keyframes senkr2 {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.senkl2 {
  width: 100%;
  animation: senkl2 2s;
}
@keyframes senkl2 {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.senkla1 {
  width: 100%;
  animation: senkla1 2s;
}
@keyframes senkla1 {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

/*// --- BAR BARSPAN WAGERECHT --- //*/

.wbar1 {
  background: #333;
  display: block;
  height: 2px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 0 10px #333;
  transform: translateY(-580px);
}
.wbar1 span {
  height: 2px;
  float: left;
  background: orange;
}

.wbar2 {
  background: #333;
  display: block;
  height: 2px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 0 10px #333;
  transform: translateY(-431px) translateX(226px);
}
.wbar2 span {
  height: 2px;
  float: left;
  background: orange;
}

.wbar3 {
  background: #333;
  display: block;
  height: 2px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 0 10px #333;
  transform: translateY(-283px) translateX(227px);
}
.wbar3 span {
  height: 2px;
  float: left;
  background: orange;
}

.wbar4 {
  background: #333;
  display: block;
  height: 2px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 0 10px #333;
  transform: translateY(-134px);
}
.wbar4 span {
  height: 2px;
  float: left;
  background: orange;
}

.wbar5 {
  background: #333;
  display: block;
  height: 2px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 0 10px #333;
  transform: translateY(-437px) translateX(-227px);
}
.wbar5 span {
  height: 2px;
  float: left;
  background: orange;
}

.wbar6 {
  background: #333;
  display: block;
  height: 2px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 0 10px #333;
  transform: translateY(-742px) translateX(-227px);
}
.wbar6 span {
  height: 2px;
  float: left;
  background: orange;
}

/*// --- WAGERECHTE PROGRESSBAR UND KEYFRAMES BAR ANIMATION --- //*/

.wagtt {
  width: 100%;
  animation: wagtt 2s;
}
@keyframes wagtt {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.wagtr {
  width: 100%;
  animation: senkla1 2s;
}
@keyframes wagtr {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.wagbr {
  width: 100%;
  animation: senkla1 2s;
}
@keyframes wagbr {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.wagbb {
  width: 100%;
  animation: senkla1 2s;
}
@keyframes wagbb {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.wagbl {
  width: 100%;
  animation: senkla1 2s;
}
@keyframes wagbl {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.wagtl {
  width: 100%;
  animation: senkla1 2s;
}
@keyframes wagtl {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
